@model IEnumerable<Miam.Web.ViewModels.AdminViewModels.AdminRestaurantIndexViewModel>
<div id="restaurantPage_index">
    <h2>Sélectionner le restaurant à modifier</h2>

    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <h4>@item.Name
                    <a class="fa fa-pencil-square-o" id="edit_button"@item.Id href="@Url.Action(MVC.Admin.EditRestaurant())?restaurantId=@item.Id"></a>
                    <a class="fa fa-trash-o" id="delete_button"@item.Id href="@Url.Action(MVC.Admin.DeleteRestaurant())?restaurantId=@item.Id"></a>
                </h4>

                <div>@item.City</div>
                <div>@item.Country</div>
                <div>Nombre de critiques: @item.CountOfReviews</div>
                <div>Moyenne des critiques: @item.RatingReviewsAverage /5</div>
            </li>
        }
    </ul>
</div>


