@using Externalization
@model Miam.Web.ViewModels.Restaurant.RestaurantDeleteViewModel

<h2>@UiText.Restaurant.DELETE_RESTAURANT</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>@UiText.Restaurant.RESTAURANT</legend>

        <div class="display_field"> @Html.DisplayFor(model => model.Name) </div>
        <div class="display_field"> @Html.DisplayFor(model => model.City) </div>
        <div class="display_field"> @Html.DisplayFor(model => model.Country) </div>

        <div>
            <input class="btn btn-sm btn-success" type="submit" value=@UiText.Buttons.CONFIRM />
            @Html.ActionLink(@UiText.Buttons.CANCEL, MVC.Restaurant.Index(), new { @class = "btn btn-sm btn-danger" })
        </div>

    </fieldset>
}



