@using Externalization
@model Miam.Web.ViewModels.Review.ReviewCreateViewModel

<h2>@UiText.Review.ADD_REVIEW</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>@UiText.Review.REVIEW</legend>

        @Html.ValidationSummary(true)
        
        <div class="label_field"> @Html.LabelFor(model => model.RestaurantId, UiText.Restaurant.SELECT_RESTAURANT) </div>
        <div class="editor_field" id="restaurant_id"> @Html.DropDownListFor(model => model.RestaurantId, Model.Restaurants, UiText.Restaurant.SELECT_RESTAURANT) </div>
        <div class="validation_field">@Html.ValidationMessageFor(model => model.RestaurantId)</div>

        <div class="label_field"> @Html.LabelFor(model => model.Body) </div>
        <div class="editor_field" id="review_body"> @Html.EditorFor(model => model.Body) </div>
        <div class="validation_field">@Html.ValidationMessageFor(model => model.Body)</div>

        <div class="label_field">@Html.LabelFor(model => model.Rating) </div>
        <div class="editor_field" id="review_rating"> @Html.EditorFor(model => model.Rating) </div>
        <div class="validation_field">@Html.ValidationMessageFor(model => model.Rating)</div>

        <input class="btn btn-sm btn-success" id="create_button" type="submit" value=@UiText.Buttons.ADD />
        @Html.ActionLink(@UiText.Buttons.CANCEL, MVC.Home.Index(), new { @class = "btn btn-sm btn-danger" })


    </fieldset>
}

