@model IEnumerable<Miam.Web.ViewModels.Home.HomeIndexViewModel>

<div>
    <h2 id="home-page">La MIAM Liste</h2>

    <div class="text-right" id="restaurants-count">@Model.Count() restaurants</div>

    <ul class="list-group">
        @foreach (var restaurant in Model)
        {
            <li class="list-group-item">
                <div>
                    <h4>@restaurant.Name</h4>
                    <div>
                        <i>@restaurant.City (@restaurant.Country) </i>
                    </div>
                    <div>
                        Moyenne des critiques: @restaurant.RatingReviewsAverage /5
                    </div>
                </div>
            </li>
        }
    </ul>
</div>