@using System.Runtime.InteropServices
@using Externalization
@model Miam.Web.ViewModels.Account.LoginViewModel

@section SectionCss{
<link href="@Url.Content("~/content/signin.css")" rel="stylesheet" type="text/css" />
}

<div class="container" id="login-page">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
    @Html.AntiForgeryToken()

    <h3 class="form-signin-heading">@UiText.Login.CONNECT_TO_YOUR_ACCOUNT </h3>

    @Html.ValidationMessage("loginError")

    @Html.ValidationMessageFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = UiText.Login.EMAIL, type = "email" })


    @Html.ValidationMessageFor(model => model.Password)
    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = UiText.Login.PASSWORD, type = "password" })


    <button class="btn btn-lg btn-primary btn-block" type="submit" id="login-submit">@UiText.Login.LOGIN</button>
    }


</div> 